<h2>New Comment</h2>
<%= form_with model: comment, url: user_post_comments_url, method: :post do |f| %>
  <div>
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>
  
  <%= f.submit "Add Comment" %>

  <% end %>